<div class="card ml-2 mr-2" style="width: 18rem;">
  <img
    src={{this.imageUrl}}
    class="card-img-top img"
    alt={{this.name}}
    style="height: 15rem;"
  />
  <div class="card-body">
    <h5 class="card-title">{{{capitaliseTitle this.name}}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">£ {{this.price}}</p>
  </div>
</div>